@font-face {
    font-family: 'Ferry';
    src: url('../../../../fonts/Ferry/ferry_black.otf');
}

main {
    max-width: 1330px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.sectionRequest {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.title {
    font-family: 'Ferry';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
}

.button {
    background-color: #5970FF;
    border-radius: 5px;
    border: none;
    padding: 15px 64px;
    color: white;
    font-size: 22px;
    line-height: 27px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover{
    text-decoration: underline;
}

.text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 70px;
}

.img {
    Width: 600px;
    Height: 560px;
    margin-top: 55px;
}

.h2 {
    margin: 70px 0 20px;
    font-family: 'Ferry';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 54px;
}

@media (max-width: 1250px) {
    .bunner {
        width: 1000px;
    }
}

@media (max-width: 1100px) {
    .title {
        font-size: 40px;
    }
    .img {
        Width: 500px;
        Height: 460px;
        margin-top: 0;
    }
}

@media (max-width: 1015px) {
    .bunner {
        width: 700px;
    }
}

@media (max-width: 820px) {
    main {
        padding-bottom: 0px;
    }
    .img {
        Width: 400px;
        Height: 360px;
    }
}

@media (max-width: 730px) {
    .sectionRequest {
        flex-wrap: wrap;
    }
    .h2 {
        font-size: 28px;
        line-height: inherit;
    }
    .img {
        margin-top: 20px;
        width: 347px;
    }
    .bunner {
        width: 345px;
    }
}
