.dekstop {
    display: flex;
    align-items: center;
}

.register {
    color:  #000;
    opacity: 0.4000000059604645;
    padding-right: 20px;
    border-right: 2px solid #029491;
    cursor: pointer;
}

.button {
    background: #7CE3E1;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.register:hover, .button:hover {
    text-decoration: underline;
}

@media (max-width: 730px) {
    .dekstop {
        display: none;
    }
}